.dashboard-nav-header
  = link_to dashboard_path, class: 'logo' do
    %span.track Track
    %span.fantasy Fantasy
%ul
  %li
    = link_to dashboard_path, class: 'dashboard-nav-link', id: 'nav-dashboard' do
      = icon('dashboard', 'Dashboard', class: 'fa-fw')
  %li
    = link_to dashboard_path, class: 'dashboard-nav-link', id: 'nav-games' do
      = icon('list', 'Games', class: 'fa-fw')
  %li
    = link_to dashboard_path, class: 'dashboard-nav-link', id: 'nav-wizard' do
      = icon('magic', 'Score Wizard', class: 'fa-fw')
  %li
    = link_to dashboard_path, class: 'dashboard-nav-link', id: 'nav-import' do
      = icon('upload', 'Import', class: 'fa-fw')
  %li
    = link_to dashboard_path, class: 'dashboard-nav-link', id: 'nav-support' do
      = icon('envelope', 'Support', class: 'fa-fw')
  %li
    = link_to account_path, class: 'dashboard-nav-link', id: 'nav-account' do
      = icon('user', 'Account', class: 'fa-fw')

