.dashboard
  %aside
    = render partial: 'sidebar'
  %main
    .main-header
      %span.filter-title Filters:
      = form_tag '/dashboard/fetch_dashboard_data', method: 'get', id: 'filter' do
        = label_tag 'From:'
        = date_field_tag 'from_date', @date_range.try(:first).try(:to_date)
        = label_tag 'To:'
        = date_field_tag 'to_date', @date_range.try(:last).try(:to_date) || Date.today
        = select_tag "sport", options_for_select(Entry::SPORTS, @sport), include_blank: 'Sport:'
        = select_tag "site", options_for_select(Site::NAMES, @site), include_blank: 'Site:'
        .header-actions
          = submit_tag 'Filter', id: 'js-filter-btn', class: 'header-btn filter-btn'
          = link_to 'Reset', dashboard_path, class: 'header-btn reset-btn'
          = icon('cog', '', class: 'fa-spin js-filter-loader')
    = render partial: 'partials/flash'
    .main-container
      Select a sport to begin:
      = select_tag "sport", options_for_select(@sports_played, @sport)

      %table#games.display.responsive.no-wrap{:"data-source"=> "#{fetch_games_data_url(format: "json")}"}
      %thead
        %tr
          %th Entries
          %th Buyin
          %th Game Type
          %th Total $
          %th ROI %
          %th Average Score
      %tbody