.dashboard
  %aside
    = render partial: 'sidebar'
  %main
    .main-header
      %span.filter-title Filters:
      = form_tag '/dashboard/fetch_dashboard_data', method: 'get', id: 'filter' do
        = label_tag 'From:'
        = date_field_tag 'from_date', @date_range.try(:first).try(:to_date)
        = label_tag 'To:'
        = date_field_tag 'to_date', @date_range.try(:last).try(:to_date) || Date.today
        = select_tag "sport", options_for_select(Entry::SPORTS, @sport), include_blank: 'Sport:'
        = select_tag "site", options_for_select(Site::NAMES, @site), include_blank: 'Site:'
        .header-actions
          = submit_tag 'Filter', id: 'js-filter-btn', class: 'header-btn filter-btn'
          = link_to 'Reset', dashboard_path, class: 'header-btn reset-btn'
          = icon('cog', '', class: 'fa-spin js-filter-loader')
    .main-container
      .main-errors
      .primary-figure
        %div{class: 'amount', id: 'js-entries'}
          = icon('cog', '', class: 'fa-spin')
        %div.label Entries

      .primary-figure
        %div{class: 'amount', id: 'js-revenue-amount'}
          = icon('cog', '', class: 'fa-spin')
        %span.label Bottom Line

      .primary-figure
        %div{class: 'amount', id: 'js-roi'}
          = icon('cog', '', class: 'fa-spin')
        %div.label ROI

      .primary-figure
        %div{class: 'amount', id: 'js-winrate'}
          = icon('cog', '', class: 'fa-spin')
        %div.label Winrate

      .graph
        #canvas{:width => '100%'}
          = icon('cog', '', class: 'fa-4x fa-spin')

      .detailed-breakdown
        #js-sport-breakdown.breakdown

        #wins-breakdown.breakdown
          %h3 Wins
          .primary-figure
            %div{class: 'amount', id: 'js-biggest-day'}
              = icon('cog', '', class: 'fa-spin')
            %div{class: 'sub-amount', id: 'js-biggest-day-date'}
            %div.label Biggest Day

          .primary-figure
            %div{class: 'amount', id: 'js-biggest-score'}
              = icon('cog', '', class: 'fa-spin')
            %div{class: 'sub-amount', id: 'js-biggest-score-date'}
            %div.label Biggest Score

:javascript
  $(function () {
    function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) { return sParameterName[1]; }
      }
    }

    var fromDate = getUrlParameter('from_date');
    var toDate = getUrlParameter('to_date');
    var site = getUrlParameter('site');
    var sport = getUrlParameter('sport');

    $.ajax({
      url: '/dashboard/fetch_dashboard_data',
      data: {from_date: fromDate, to_date: toDate, site: site, sport: sport},
      type: 'GET',
    }).fail(function(data){
      $('.main-errors').append('Something went wrong, please make sure your date input is valid. <a href="/dashboard">Refresh</a>').show();
    });
  });
