.dashboard
  %aside
    = render partial: 'sidebar'
  %main
    .main-header
      %span.filter-title Filters:
      = form_tag '/dashboard/fetch_dashboard_data', method: 'get', id: 'filter' do
        = label_tag 'From:'
        = date_field_tag 'from_date', @date_range.try(:first).try(:to_date)
        = label_tag 'To:'
        = date_field_tag 'to_date', @date_range.try(:last).try(:to_date) || Date.today
        = select_tag "sport", options_for_select(current_user.sports_played, @sport), include_blank: 'Sport:'
        = select_tag "site", options_for_select(Site::NAMES, @site), include_blank: 'Site:'
        .header-actions
          = submit_tag 'Filter', id: 'js-filter-btn', class: 'header-btn filter-btn'
          = link_to 'Reset', dashboard_path, class: 'header-btn reset-btn'
          = icon('cog', '', class: 'fa-spin js-loader')
    = render partial: 'partials/flash'
    - if @is_new_user
      .main-container.new-user-notification
        To see your results, you must first import your DFS history using the
        = link_to 'Import tab', import_path, class: 'strong'
    .main-container#dashboard
      = icon('cog', '', class: 'fa-4x fa-spin')

:javascript
  $(document).ready(function(){
    fetchDashboardData();
  });
