:plain
  var greenClass = 'in-the-black';
  var redClass = 'in-the-red';

  if (#{@analytics.revenue_amount} > 0) {
    var colorClass = greenClass;
  }
  else if (#{@analytics.revenue_amount} < 0) {
    var colorClass = redClass;
  }

  // Seed data
  $('#from_date').val("#{(@analytics.date_of_first_entry)}")
  $('#js-entries').html("#{(@analytics.total_entries)}");
  $('#js-revenue-amount').html("#{number_to_currency(@analytics.revenue_amount)}");
  $('#js-revenue-amount').addClass(colorClass);
  $('#js-roi').html("#{number_to_percentage(@analytics.roi, precision: 2)}");
  $('#js-roi').addClass(colorClass);
  $('#js-biggest-day').html("#{number_to_currency(@analytics.biggest_day)}");
  $('#js-biggest-day').addClass(greenClass);
  $('#js-biggest-day-date').html("#{@analytics.biggest_day_date}");
  $('#js-biggest-score').html("#{number_to_currency(@analytics.biggest_score)}");
  $('#js-biggest-score').addClass(greenClass);
  $('#js-biggest-score-date').html("#{@analytics.biggest_score_date}");
  $('#canvas').html('');

  // Draw graph

  $('#canvas').highcharts({
    chart: {
      backgroundColor: '#fff',
      type: 'line',
    },
    title: {
      text: '',
    },
    credits: {
      enabled: false
    },
    legend: {
      enabled: false
    },
    plotOptions: {
      line: {
        marker: {
          enabled: false
        },
      }
    },
    yAxis: {
      title: {
        text: 'Winnings',
        style: { "color": "#666", "fontWeight": "bold" },
      },
      labels: {
        format: '${value}',
        style: {"color":"#666"}
      },
      maxPadding: 0.1,
      minorGridLineColor: '#ededed',
      minorTickInterval: 'auto',
      lineColor: '#888',
      gridLineColor: '#ddd',
      lineWidth: 2,
      plotLines: [{
        value: 0,
        width: 2,
        color: '#999'
      }]
    },
    xAxis: {
      type: 'datetime',
      lineWidth: 2,
      lineColor: '#888',
      gridLineColor: '#ddd',
      gridLineDashStyle: 'solid',
      gridLineWidth: 1,
      minPadding: 0,
      maxPadding: 0,
      labels: {
        style: {"color":"#666"}
      }
    },
    series: [{
      name: '$',
      color: '#0D653B',
      data: #{@analytics.graph_axes}
    }],
  });