.dashboard.support
  %aside
    = render partial: 'sidebar'
  %main
    .main-header
      Contact Us
    .main-container
      %p We try to respond to inquiries within a day. Get in touch either via Email or Twitter:
      %p
        = link_to 'mailto:support@trackfantasy.com' do
          = icon('envelope-o', 'support@trackfantasy.com', class: 'fa-fw')
      %p
        = link_to 'https://twitter.com/trackfantasy' do
          = icon('twitter', 'Tweet to @TrackFantasy', class: 'fa-fw')