.page.new-user
  .container
    = render partial: 'partials/logo'
    .info-card
      .info-card-title
        %h1 Set New Password
      .info-card-content
        = render partial: 'partials/flash'
        = form_for @user, url: reset_password_path, method: :put, html: { class: 'signup-form', id: 'user-edit-form' } do |f|
          = f.password_field :password, placeholder: 'New Password (at least 5 characters)', class: 'submit-input vertical'
          = f.hidden_field :reset_password_token
          .error-messages
          = f.submit 'Update', class: 'btn'

    .clearfloat