.page
  .splash
    .container
      %h1 Performance Analytics for Daily Fantasy Sports Players
      %h2 Maximize your profit with valuable winrate and score metrics

      #js-cta.cta
        .cta-header View Pricing and Sign Up
        .cta-subheader 60-day money back guarantee

      .learn-more
        = link_to '#', id: 'js-learn-more' do
          = 'Learn more'
          = image_tag('downarrow.png')

  #js-details.details
    .container
      %p
        Tracking
        = succeed ',' do
          %span.strong winrate
        = succeed ',' do
          %span.strong performance
        and
        %span.strong game history
        for grinders like you.
      %ul
        %li
          .vp-image
            = image_tag asset_path('vp1.png')
          .vp-content
            .strong.vp-header Your money, analyzed
            .sub-vp Bankrolls don't tell the full story. Our stat-heavy dashboard lets you visualize your earnings. Get the full scoop on where your money is coming and going. 
        %li
          .vp-image
            = image_tag asset_path('vp3.png')
          .vp-content
            .strong.vp-header Performance stats everywhere
            .sub-vp Evaluate your play with score tracking. Works across all game types, so you know which games you have the biggest edge in.
        %li
          .vp-image
            = image_tag asset_path('vp2.png')
          .vp-content
            .strong.vp-header Your game history, forever
            .sub-vp Easy look-up of old games and lineups. Your data is secure and your lineups are always retrievable.
      %p
        TrackFantasy helps
        %span.strong improve
        your scores and your
        %span.strong bottom line.

  #js-pricing.pricing
    .container
      %h1 Pricing and Signup
      %p Sign up today risk-free with our 60-day money back guarantee

      .pricing-cards
        .card
          .card-title
            %h3 Monthly Subscription
          .card-pricing
            %span.dollar-figure $
            %span.dollar-amount 19
            .interval Per Month
          .card-details
            %p.line-item
              No-hassle cancellation
            %p.line-item
              Personalized statistics
            %p.line-item
              Revenue graphs
            %p.line-item
              Visualized trends
            %p.line-item
              Same-day support
            %p.line-item
              60-day money back guarantee

            .cta Select Plan
        .card
          .card-title
            %h3 Yearly Subscription
          .card-pricing
            %span.dollar-figure $
            %span.dollar-amount 179
            .interval Per Year
          .card-details
            %p.line-item.strong
              3 Months Free!
            %p.line-item
              Personalized statistics
            %p.line-item
              Revenue graphs
            %p.line-item
              Visualized trends
            %p.line-item
              Same-day support
            %p.line-item
              60-day money back guarantee

            .cta Select Plan

      %p
        Questions? Email us at
        = link_to 'support@trackfantasy.com', 'mailto:support@trackfantasy.com', class: 'strong'
  .faq
    .container
      %h1 FAQ
      %p
        We're always available at  
        = link_to 'support@trackfantasy.com', 'mailto:support@trackfantasy.com'
        if you have any other questions.

      .q-a
        %p.q
          Are my results safe with TrackFantasy?
        %p.a
          Yes. Users can only see data they've uploaded themselves. Rest assured that we keep your data secure and confidential.

      .q-a
        %p.q
          Am I tied to a contract?
        %p.a
          Our monthly plan bills month-to-month and can be canceled at any time with no penalty. Our yearly plan bills annually, however both the yearly plan and the monthly plan come with 60-day money back guarantees.

      .q-a
        %p.q
          Are there any limits to the amount of data I can store?
        %p.a
          Not right now. This may change in the future, but anyone who signs up now will be grandfathered into their current plan, monthly or annual, both which offer unlimited tracking.

      .q-a
        %p.q
          Which Fantasy sites and games does TrackFantasy support?
        %p.a
          Our platform currently supports all sports and game types from FanDuel and DraftKings. Site support for DraftDay, FantasyAces, FantasyFeud, FantasyDraft, and more coming soon.