.page
  .splash
    .container
      %h1 Your game history on PEDs
      %h2 Complete bankroll and performance tracking for Daily Fantasy Sports players
      .info-card
        .info-card-title
          %h1 Sign Up For Free Tracking
        .info-card-content
          = render partial: 'users/new_user_form'
      .clearfloat

      .learn-more
        = link_to '#', id: 'js-learn-more' do
          = 'Learn more'
          = icon('angle-double-down', '', class: 'fa-2x')

  #js-details.details
    .container
      %p Winrate and score analytics for grinders like you

      .vp-container
        %ul
          %li
            .vp-image
            .vp-content
              .strong.vp-header Your bankroll's full story
              .sub-vp Our stat-heavy dashboard lets you visualize your earnings by every filter imagineable. Get the full scoop on where your money is coming and going. 
          %li
            .vp-image
            .vp-content
              .strong.vp-header Performance stats everywhere
              .sub-vp Evaluate your play with score tracking. Works across all game types, so you know which games you have the biggest edge in.
          %li
            .vp-image
            .vp-content
              .strong.vp-header Zero-hassle, easy to use, and secure
              .sub-vp Never deal with buggy excel sheets again, or the hassle of reuploading your data every time you want to see your stats. We store everything securely, and you can erase your data at anytime. 

          %li
            .vp-image
            .vp-content
              .strong.vp-header Free.
              .sub-vp We are completely free for users up to 50,000 entries. If you start using more, we'll be in touch!

        .screenshot-container
          = image_tag(asset_path('screenshot.png'))

      %p
        = link_to 'Start Tracking For Free', signup_path, class: 'btn strong'