.page
  .splash
    .container
      %h1 Performance Analytics for Daily Fantasy Sports Players
      %h2 Maximize your profit with valuable winrate and score metrics.
      .info-card
        .info-card-title
          %h1 Sign Up For Free
        .info-card-content
          = render partial: 'users/new_user_form'
      .clearfloat

      .learn-more
        = link_to '#', id: 'js-learn-more' do
          = 'Learn more'
          = icon('angle-double-down', '', class: 'fa-2x')

  #js-details.details
    .container
      %p
        Tracking
        = succeed ',' do
          %span.strong winrate
        = succeed ',' do
          %span.strong performance
        and
        %span.strong game history
        for grinders like you.

      .vp-container
        %ul
          %li
            .vp-image
            .vp-content
              .strong.vp-header Your money, analyzed
              .sub-vp Bankrolls don't tell the full story. Our stat-heavy dashboard lets you visualize your earnings by every filter imagineable. Get the full scoop on where your money is coming and going. 
          %li
            .vp-image
            .vp-content
              .strong.vp-header Performance stats everywhere
              .sub-vp Evaluate your play with score tracking. Works across all game types, so you know which games you have the biggest edge in.
          %li
            .vp-image
            .vp-content
              .strong.vp-header Access anywhere
              .sub-vp View and update your saved stats anywhere. We take secure precautions to make sure your data is always safe.

        .screenshot-container
          = image_tag(asset_path('screenshot.png'))

      %p
        = link_to 'Sign Up For Free', signup_path, class: 'btn'