.card
  .card-title
    %h3 Yearly Subscription
  .card-pricing
    %span.dollar-figure $
    %span.dollar-amount 179
    .interval Per Year
  .card-details
    %p.line-item.strong
      = icon('check', '3 Months Free!', class: 'fa-fw fa-lg')
    %p.line-item
      = icon('check', 'Personalized statistics', class: 'fa-fw')
    %p.line-item
      = icon('check', 'Revenue graphs', class: 'fa-fw')
    %p.line-item
      = icon('check', 'Visualized trends', class: 'fa-fw')
    %p.line-item
      = icon('check', 'Same-day support', class: 'fa-fw')
    %p.line-item
      = icon('check', '60-day money back guarantee', class: 'fa-fw')
    = link_to 'Select Plan', signup_path(plan: 'annual'), class: 'cta', id: 'annual-subscribe-cta'