.dashboard.edit-user
  %aside
    = render partial: 'dashboard/sidebar'
  %main
    .main-header
      Your Account Details
    = render partial: 'partials/flash'
    .main-container
      .user-breakdown
        .primary-figure
          %div{class: 'amount'}
            = current_user.email
          %div.label Email
        .primary-figure
          = 'Questions? Contact us at'
          %p= link_to 'support@trackfantasy.com', 'mailto:support@trackfantasy.com'
        .primary-figure
          %div.label.strong= link_to 'Logout', session_path(current_user), method: :delete

      .user-form
        = form_for @user, method: :put, html: { class: 'signup-form', id: 'user-edit-form' } do |f|
          %p Change Password
          = f.password_field :current_password, placeholder: 'Your current password'
          = f.password_field :password, placeholder: 'New Password (at least 5 characters)', class: 'submit-input vertical'
          .error-messages
          = f.submit 'Update', class: 'btn'

      .clearfloat