.dashboard.edit-user
  %aside
    = render partial: 'dashboard/sidebar'
  %main
    .main-header
      Your Account Details
    = render partial: 'partials/flash'
    .main-container
      .user-breakdown
        .primary-figure
          Signed in as:
          .amount
            = current_user.email

        .primary-figure
          .amount
            = link_to session_path(current_user), method: :delete do
              = icon('sign-out', 'Sign Out', class: 'fa-fw')

        .primary-figure
          .amount
            = link_to contact_path do
              = icon('envelope', 'Contact Us', class: 'fa-fw')

        .primary-figure
          = link_to wipe_data_path, method: :post, class: 'in-the-red', data: {confirm: 'Do you really want to wipe all your data? This is irreversible, and your account will not have any linked entries until you import again.'} do
            = icon('trash', 'Delete All Entries', class: 'fa-fw')

      .user-form
        = form_for @user, method: :put, html: { class: 'signup-form', id: 'user-edit-form' } do |f|
          %p Change Password
          = f.password_field :current_password, placeholder: 'Your current password'
          = f.password_field :password, placeholder: 'New Password (at least 5 characters)', class: 'submit-input vertical'
          .error-messages
          = f.submit 'Update', class: 'btn'

      .clearfloat