.page.new-user
  .container
    .logo
      %span.track Track
      %span.fantasy Fantasy
    .info-card
      .info-card-title
        %h1 Sign Up
      .info-card-content
        %h3 
          = "#{@plan.titleize} Plan, nice! Now let's get you set up:"

        = form_tag '', class: 'signup-form' do
          / - if @user.errors.any?
          /   .error-messages
          /     %ul
          /       - for message in @user.errors.full_messages
          /         %li= message
          .text-field-container
            = email_field_tag :email, '', placeholder: 'Email', id: 'email', autofocus: true
            = icon('at', '', class: 'fa-fw input-embedded-icon')
          .text-field-container
            = password_field_tag :password, '', placeholder: 'Password', id: 'password', class: 'submit-input'
            = icon('lock', '', class: 'fa-fw input-embedded-icon')
          = hidden_field_tag :plan, @plan
          = button_to '', class: 'btn' do
            = 'Next'
            = icon('chevron-right', '', class: 'fa-fw')
